BCPARKS_API_KEY=your_bcparks_api_key
BCPARKS_API_URL=https://bcparks.api.gov.bc.ca/graphql

CITYWIDE_API_KEY=your_citywide_api_key
CITYWIDE_DB=your_client_db          # e.g. bcparks_prd.main
CITYWIDE_USER=your_citywide_username
CITYWIDE_API_URL=https://v4.citywidesolutions.com/v4_server/external/v1
