openapi: "3.0.2"
tags:
  - name: Adjustment
  - name: Application
  - name: Application Class
  - name: Area
  - name: Aro
  - name: Asset
  - name: Attached File
  - name: Attribute
  - name: Audit
  - name: Authentication
  - name: Building Code
  - name: Bulk
  - name: Check-in
  - name: Checkin
  - name: Class
  - name: Classification
  - name: Classification Type
  - name: Community
  - name: Condition Assessment
  - name: Construction Type
  - name: Contact
  - name: Cost
  - name: Crew
  - name: Customer
  - name: Department
  - name: Development Charge
  - name: Development Class
  - name: Equipment
  - name: Gain Loss Code
  - name: General Ledger Code
  - name: Inspection
  - name: Inspection Type
  - name: Inventory
  - name: Join
  - name: Module
  - name: Note
  - name: Part/Material
  - name: Payment
  - name: Permit
  - name: Permit Type
  - name: Plan
  - name: Plan Project
  - name: Plan Type
  - name: Plan Status
  - name: Position
  - name: Profile
  - name: Profile Group
  - name: Property
  - name: Property Use
  - name: Property Zone
  - name: Rate
  - name: Refund
  - name: Refundable Fee
  - name: Resource
  - name: Responsible
  - name: Review
  - name: Role
  - name: Service
  - name: Service Request
  - name: Service Request Type
  - name: Source Type
  - name: Store Location
  - name: Task
  - name: Timesheet
  - name: Transaction
  - name: User
  - name: Vendor
  - name: Wage Type
  - name: Work Code
  - name: Work Fee
  - name: Work Fee Detail
  - name: Work Field
  - name: Work Order
  - name: Work Order Status
  - name: Work Order Type
  - name: Work Order Type Group
  - name: Work/Activity Code
  - name: Worker
info:
  title: Citywide API
  version: 0.9.0
  contact:
    name: PSD Citywide
    url: "https://psdcitywide.com/"
  description: Citywide API
externalDocs:
  url: https://v4.citywidesolutions.com/v4_client/core/citywide_api_docs
servers:
  - url: "https://demo.citywidesolutions.com/v4_server/external/v1"
    description: Demo
  - url: "https://v4.citywidesolutions.com/v4_server/external/v1"
    description: Production
  - url: "https://us.citywidesolutions.com/v4_server/external/v1"
    description: US Production
security:
  - api_key: []
components:
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      bearerFormat: custom
  responses:
    invalid-data:
      description: Request contains invalid or incomplete data.
      content:
        application/json:
          schema:
            type: object
      headers: {}
    record-created:
      description: Record was created.
      headers:
        Location:
          schema:
            type: string
            format: uri
          description: Path of the newly created record.
    record-updated:
      description: Record was updated.
    delete-no-permission:
      description: User does not have permission to delete this record.
      content:
        application/json:
          schema:
            type: object
    department:
      description: OK
      headers:
        Last-Modified:
          $ref: "#/components/headers/Last-Modified"
      content:
        application/json:
          schema:
            $ref: ./models/department.yaml
    departments:
      description: OK
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ./models/department.yaml
      headers:
        Link:
          $ref: "#/components/headers/Link"
        X-Cursor:
          $ref: "#/components/headers/X-Cursor"
        X-Total:
          $ref: "#/components/headers/X-Total"
    too-many-requests:
      description: Too Many Requests
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
  parameters:
    path.adjustment_id:
      name: adjustment_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Adjustment ID.
      required: true
    path.amortization_year:
      name: amortization_year
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Amortization Year.
      required: true
    path.application_class_id:
      name: application_class_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Application Class ID.
      required: true
    path.area_id:
      name: area_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Area ID.
      required: true
    path.asset_id:
      name: asset_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Asset ID.
      required: true
    path.audit_id:
      name: audit_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Audit ID.
      required: true
    path.attached_file_id:
      name: attached_file_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Attached File ID.
      required: true
    path.building_code_id:
      name: building_code_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Building Code ID.
      required: true
      example: 55
    path.development_service_id:
      name: development_service_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Development Charge Service ID.
      required: true
      example: 55
    path.refundable_fee_id:
      name: refundable_fee_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Refundable Fee ID.
      required: true
      example: 55
    path.checkin_id:
      name: checkin_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Checkin ID.
      required: true
    path.classification_id:
      name: classification_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Classification ID.
      required: true
      example: 55
    path.classification_type_id:
      name: classification_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Classification Type ID.
      required: true
    path.inspection_id:
      name: inspection_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Inspection ID.
      required: true
    path.development_class_id:
      name: development_class_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Development Charge Class ID.
      required: true
    path.community_id:
      name: community_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Community ID.
      required: true
    path.contact_id:
      name: contact_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Contact ID.
      required: true
    path.construction_type_id:
      name: construction_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Construction Type ID.
      required: true
    path.cost_id:
      name: cost_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Cost ID.
      required: true
    path.crew_id:
      name: crew_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Crew ID.
      required: true
    path.customer_id:
      name: customer_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Customer ID.
      required: true
    path.department_id:
      name: department_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Department ID.
      required: true
    path.development_charge_id:
      name: development_charge_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Development Charge ID.
      required: true
    path.equipment_id:
      name: equipment_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Equipment ID.
      required: true
    path.fee_id:
      name: fee_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Fee ID.
      required: true
    path.fuel_cost_id:
      name: fuel_cost_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Fuel Cost ID.
      required: true
    path.gain_loss_code_id:
      name: gain_loss_code_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Gain Loss Code ID.
      required: true
    path.general_ledger_code_id:
      name: general_ledger_code_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: General Ledger Code ID.
      required: true
    path.inspection_type_id:
      name: inspection_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Inspection Type ID.
      required: true
    path.join_id:
      name: join_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Join ID.
      required: true
    path.module_id:
      name: module_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Module ID.
      required: true
    path.note_id:
      name: note_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Note ID.
      required: true
    path.municipal_development_class_id:
      name: municipal_development_class_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Municipal Development Class ID.
      required: true
    path.parts_materials_inventory_id:
      name: parts_materials_inventory_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Parts/Materials Inventory Transaction ID.
      required: true
    path.parts_material_id:
      name: parts_material_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Parts Material ID.
      required: true
    path.payment_id:
      name: payment_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Payment ID.
      required: true
    path.permit_type_id:
      name: permit_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Permit Type ID.
      required: true
    path.plan_id:
      name: plan_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Plan ID.
      required: true
    path.plan_project_id:
      name: plan_project_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Plan Project ID.
      required: true
    path.plan_type_id:
      name: plan_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Plan Type ID.
      required: true
    path.plan_status_id:
      name: plan_status_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Plan Status ID.
      required: true
    path.position_id:
      name: position_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Position ID.
      required: true
    path.profile_id:
      name: profile_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Profile ID.
      required: true
    path.profile_group_id:
      name: profile_group_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Profile Group ID.
      required: true
    path.property_id:
      name: property_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Property ID.
      required: true
    path.property_use_id:
      name: property_use_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Property Use ID.
      required: true
    path.property_zone_id:
      name: property_zone_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Property Zone ID.
      required: true
    path.rate_id:
      name: rate_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Rate ID.
      required: true
    path.equipment_rate_type_id:
      name: equipment_rate_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Equipment Rate Type ID.
      required: true
    path.refund_id:
      name: refund_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Refund ID.
      required: true
    path.regional_development_class_id:
      name: regional_development_class_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Regional Development Class ID.
      required: true
    path.responsible_id:
      name: responsible_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Responsible ID.
      required: true
    path.review_id:
      name: review_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Review ID.
      required: true
    path.role_id:
      name: role_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Role ID.
      required: true
    path.service_request_type_id:
      name: service_request_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Service Request Type ID.
      required: true
    path.store_location_id:
      name: store_location_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Store Location ID.
      required: true
    path.source_type_id:
      name: source_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Source Type ID.
      required: true
    path.task_id:
      name: task_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 2147483647
      description: Task ID.
      required: true
    path.task_name:
      name: task_name
      in: path
      schema:
        type: string
      description: Task Name.
      required: true
    path.tier_id:
      name: tier_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 2147483647
      description: Tier ID.
      required: true
    path.transaction_id:
      name: transaction_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Transaction ID.
      required: true
    path.user_id:
      name: user_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: User ID.
      required: true
    path.vendor_id:
      name: vendor_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Vendor ID.
      required: true
    path.wage_type_id:
      name: wage_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Wage Type ID.
      required: true
    path.work_activity_code_id:
      name: work_activity_code_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work Activity Code ID.
      required: true
    path.work_code_id:
      name: work_code_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work Code ID.
      required: true
    path.work_fee_detail_id:
      name: work_fee_detail_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work Fee Detail ID.
      required: true
    path.work_field_id:
      name: work_field_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work Field ID.
      required: true
    path.work_order_statuse_id:
      name: work_order_statuse_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work Order Statuse ID.
      required: true
    path.work_order_type_id:
      name: work_order_type_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work Order Type ID.
      required: true
    path.work_order_type_group_id:
      name: work_order_type_group_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work Order Type Group ID.
      required: true
    path.worker_id:
      name: worker_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Worker ID.
      required: true
    path.attribute_id:
      name: attribute_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Attribute ID.
      required: true
    path.option_id:
      name: option_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Attribute Option ID.
      required: true
    query.department_id:
      name: department_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Department ID.
    path.work_order_id:
      name: work_order_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Work order ID.
      required: true
      example: 55
    path.permit_id:
      name: permit_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Permit ID.
      required: true
      example: 55
    path.service_request_id:
      name: service_request_id
      in: path
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Service Request ID.
      required: true
      example: 9
    query.created:
      name: created
      in: query
      schema:
        type: string
        format: date-time
      description: Date/time the record was created.
    query.created_by:
      name: created_by
      in: query
      schema:
        $ref: ./models/common/properties/user_or_support.yaml
      description: User the created the record.
    query.updated:
      name: updated
      in: query
      schema:
        type: string
        format: date-time
      description: Date/time the record was last updated.
    query.area_id:
      name: area_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Area ID.
    query.community_id:
      name: community_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Community ID.
    query.route_id:
      name: route_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Route ID.
    query.customer_id:
      name: customer_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Customer ID.
    query.property_id:
      name: property_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Property ID.
    query.worker_id:
      name: worker_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Worker ID.
    query.attribute_definition_id:
      name: attribute_definition_id
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Attribute's definition ID.
    query._limit:
      name: $limit
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
      description: Maximum number of records to retrieve per page.
    query._cursor:
      name: $cursor
      in: query
      schema:
        type: string
      description: Cursor representing current result set.
    query._page:
      name: $page
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Which page of the result set to retrieve.
    query._orderBy:
      name: $orderBy
      in: query
      schema:
        type: string
      description: Field by which to order the results.
  headers:
    X-Cursor:
      description: Cursor representing a result set. Specific to the original endpoint.
      schema:
        type: string
    X-Total:
      description: Total number of records in the result set.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
    Link:
      description: Links to first, previous, next and last pages.
      schema:
        type: string
    X-RateLimit-Limit:
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Total number of queries allowed for this window.
    X-RateLimit-Remaining:
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 2147483647
      description: Remaining number of queries for this window.
    X-RateLimit-Reset:
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2147483647
      description: Number of seconds until the rate limit is reset.
    Last-Modified:
      schema:
        type: string
        format: date-time
      description: Timestamp of last modification to record.
paths:
  "/am/classifications":
    description: Retrieve a list of classifications.
    get:
      operationId: get-am-classifications
      description: Retrieve a list of classifications.
      tags:
        - Classification
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/am_classification.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: classification_type_id
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 2147483647
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: parent_id
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 2147483647
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/am/classifications/{classification_id}":
    get:
      operationId: get-am-classifications-classification_id
      description: Retrieve a single classification.
      tags:
        - Classification
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/am_classification.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.classification_id"
  "/am/classification_types":
    description: Retrieve a list of classification types.
    get:
      operationId: get-am-classification_types
      description: Retrieve a list of classification types.
      tags:
        - Classification Type
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/am_classification_type.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: parent_id
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 2147483647
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/am/classification_types/{classification_type_id}":
    get:
      operationId: get-am-classification_types-classification_type_id
      description: Retrieve a single classification type.
      tags:
        - Classification Type
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/am_classification_type.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.classification_type_id"
  "/am/fuel_costs":
    get:
      operationId: get-am-fuel_costs
      description: Retrieve a list of fuel costs
      tags:
        - Asset
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/fuel_cost.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: asset_id
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 2147483647
        - in: query
          name: date_time
          schema:
            type: string
            format: date-time
        - in: query
          name: import_id
          schema:
            type: string
        - in: query
          name: odometer
          schema:
            type: integer
        - in: query
          name: odometer_unit
          schema:
            type: string
        - in: query
          name: price
          schema:
            type: number
            format: double
        - in: query
          name: total_price
          schema:
            type: number
            format: double
        - in: query
          name: units
          schema:
            type: number
            format: double
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    post:
      operationId: post-am-fuel_costs
      description: Add fuel costs
      tags:
        - Asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/fuel_cost.yaml
      responses:
        "201":
          description: Record was created.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Path of the newly created record.
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/am/fuel_costs/{fuel_cost_id}":
    get:
      operationId: get-am-fuel_costs-fuel_cost_id
      description: Retrieve a single fuel cost
      tags:
        - Asset
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/fuel_cost.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.fuel_cost_id"
  "/am/gain_loss_codes":
    get:
      operationId: get-am-gain_loss_codes
      description: Retrieve a list of gain loss codes.
      tags:
        - Gain Loss Code
        - Resource
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/gain_loss_code.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/am/gain_loss_codes/{gain_loss_code_id}":
    get:
      operationId: get-am-gain_loss_code-gain_loss_code_id
      description: Retrieve a single gain loss code.
      tags:
        - Gain Loss Code
        - Resource
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/gain_loss_code.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.gain_loss_code_id"
  "/am/profiles":
    get:
      operationId: get-am-profiles
      description: Retrieve a list of profiles.
      tags:
        - Profile
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/profile.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: profile_group_id
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 2147483647
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/am/profiles/{profile_id}":
    get:
      operationId: get-am-profiles-profile_id
      description: Retrieve a single profile.
      tags:
        - Profile
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/profile.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.profile_id"
  "/am/profile_groups":
    get:
      operationId: get-am-profile_groups
      description: Retrieve a list of profile groups.
      tags:
        - Profile Group
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/profile_group.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/am/profile_groups/{profile_group_id}":
    get:
      operationId: get-am-profile_groups-profile_group_id
      description: Retrieve a single profile group.
      tags:
        - Profile Group
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/profile_group.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.profile_group_id"
  "/assets":
    description: Retrieve a list of assets.
    get:
      operationId: get-assets
      description: Retrieve a list of assets.
      tags:
        - Asset
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/asset.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: category_classification_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: class_classification_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: description
          schema:
            type: string
          description: Description of the asset.
        - in: query
          name: exclude_psab
          schema:
            type: boolean
        - in: query
          name: ignore_threshold
          schema:
            type: boolean
        - in: query
          name: import_id
          schema:
            type: string
        - in: query
          name: is_aro_identified
          schema:
            type: boolean
        - in: query
          name: is_aro_reviewed
          schema:
            type: boolean
        - in: query
          name: is_contaminated
          schema:
            type: boolean
        - in: query
          name: is_contributed
          schema:
            type: boolean
        - in: query
          name: is_disposed
          schema:
            type: boolean
        - in: query
          name: is_gov_transfer
          schema:
            type: boolean
        - in: query
          name: is_heritage
          schema:
            type: boolean
        - in: query
          name: is_import
          schema:
            type: boolean
        - in: query
          name: is_leased
          schema:
            type: boolean
        - in: query
          name: is_locked
          schema:
            type: boolean
        - in: query
          name: is_recycled
          schema:
            type: boolean
        - in: query
          name: is_water_service
          schema:
            type: boolean
        - in: query
          name: is_wastewater_service
          schema:
            type: boolean
        - in: query
          name: is_wip
          schema:
            type: boolean
        - in: query
          name: is_works
          schema:
            type: boolean
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: historical_cost
          schema:
            type: number
            format: double
            minimum: 0
        - in: query
          name: profile_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: segment_classification_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: service_date
          schema:
            type: string
            format: date
          description: Date asset went into service.
        - in: query
          name: valuation_cost
          schema:
            type: number
            format: double
            minimum: 0
        - in: query
          name: $condition
          description: Show condition and risk fields
          schema:
            type: boolean
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    post:
      operationId: post-assets
      description: Add an asset
      tags:
        - Asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/asset_post.yaml
      responses:
        "201":
          description: Record was created.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Path of the newly created record.
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}":
    get:
      operationId: get-assets-asset_id
      description: Retrieve a single asset.
      tags:
        - Asset
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/asset.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    patch:
      operationId: patch-assets-asset_id
      description: Update an asset.
      tags:
        - Asset
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/asset_patch.yaml
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
  "/assets/{asset_id}/adjustments":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
    get:
      operationId: get-assets-asset_id-adjustments
      description: Retrieve a list of adjustments attached to an Asset.
      tags:
        - Asset
        - Adjustment
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/adjustment.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: adjustment_date
          schema:
            type: string
            format: date
        - in: query
          name: capital_code_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: description
          schema:
            type: string
            format: date
        - in: query
          name: gain_loss_code_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: quantity
          schema:
            type: number
            format: double
        - in: query
          name: type
          schema:
            $ref: ./models/common/assets/adjustment_types.yaml
        - in: query
          name: value
          schema:
            type: number
            format: double
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/assets/{asset_id}/adjustments/{adjustment_id}":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
      - $ref: "#/components/parameters/path.adjustment_id"
    get:
      operationId: get-assets-asset_id-adjustment-adjustment_id
      description: Retrieve an adjustment attached to an Asset.
      tags:
        - Asset
        - Adjustment
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/adjustment.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/amortization":
    get:
      operationId: get-assets-asset_id-amortization
      description: Retrieve amortization information for a given asset.
      tags:
        - Asset
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/amortization.yaml
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: amortization_expense
          schema:
            type: number
            format: double
        - in: query
          name: closing_accumulated_amortization
          schema:
            type: number
            format: double
        - in: query
          name: closing_cost
          schema:
            type: number
            format: double
        - in: query
          name: closing_cost_asset
          schema:
            type: number
            format: double
        - in: query
          name: closing_nbv
          schema:
            type: number
            format: double
        - in: query
          name: year
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
  "/assets/{asset_id}/aro":
    get:
      operationId: get-assets-asset_id-aro
      description: Retrieve aro information for a given asset.
      tags:
        - Aro
        - Asset
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/aro.yaml
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: gl_aro_accretion_expense
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: gl_aro_amort_expense
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: gl_aro_liability
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: gl_aro_retirement_cost
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
  "/assets/{asset_id}/attached_files":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
    get:
      operationId: get-assets-asset_id-attached_files
      description: Retrieve a list of files attached to an Asset.
      tags:
        - Asset
        - Attached File
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/attached_file.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - $ref: "#/components/parameters/query.created"
        - in: query
          name: description
          schema:
            type: string
            minLength: 1
        - in: query
          name: filename
          schema:
            type: string
            minLength: 1
        - in: query
          name: mime_type
          schema:
            type: string
            minLength: 1
        - in: query
          name: size
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 2147483647
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    post:
      operationId: post-assets-asset_id-attached_files
      description: Attach a file to an Asset.
      tags:
        - Asset
        - Attached File
      requestBody:
        required: true
        content:
          "multipart/form-data":
            schema:
              type: object
              properties:
                description:
                  type: string
                data:
                  type: string
                  format: binary
      responses:
        "201":
          description: Created
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/attached_files/{attached_file_id}":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
      - $ref: "#/components/parameters/path.attached_file_id"
    get:
      operationId: get-assets-asset_id-attached_files-attached_file_id
      description: Retrieve a file attached to an Asset.
      tags:
        - Asset
        - Attached File
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/attached_file.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/attached_files/{attached_file_id}/content":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
      - $ref: "#/components/parameters/path.attached_file_id"
    get:
      operationId: get-assets-asset_id-attached_files-attached_file_id-content
      description: Retrieve the content of a file attached to an Asset.
      tags:
        - Asset
        - Attached File
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
                format: binary
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/attributes":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
    get:
      operationId: get-assets-asset_id-attributes
      description: Retrieve a list of attributes attached to the asset.
      tags:
        - Asset
        - Attribute
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/asset_attribute.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - $ref: "#/components/parameters/query.attribute_definition_id"
        - in: query
          name: value
          schema:
            oneOf:
              - type: string
              - type: number
              - type: integer
          description: Value of the attribute.
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    post:
      operationId: post-assets-asset_id-attributes
      description: Attach an attribute to an asset.
      tags:
        - Asset
        - Attribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/asset_attribute.yaml
      responses:
        "201":
          $ref: "#/components/responses/record-created"
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/attributes/{attribute_id}":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
      - $ref: "#/components/parameters/path.attribute_id"
    get:
      operationId: get-assets-asset_id-attributes-attribute_id
      description: Retrieve an attribute attached to the asset
      tags:
        - Asset
        - Attribute
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/asset_attribute.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    patch:
      operationId: patch-assets-asset_id-attributes-attribute_id
      description: Update an asset attribute.
      tags:
        - Asset
        - Attribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/asset_attribute.yaml
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/classifications":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
    get:
      operationId: get-assets-asset_id-classifications
      description: Retrieve a list of classifications attached to an Asset.
      tags:
        - Asset
        - Classification
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/asset_classification.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: classification_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    post:
      operationId: post-assets-classifications
      description: Add an asset classification.
      tags:
        - Asset
        - Classification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/asset_classification.yaml
      responses:
        "201":
          description: Record was created.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Path of the newly created record.
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/classifications/{classification_type_id}":
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
      - $ref: "#/components/parameters/path.classification_type_id"
    get:
      operationId: get-assets-classifications-classification_type_id
      description: Retrieve a single asset classification.
      tags:
        - Asset
        - Classification
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/asset_classification.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/condition_assessments":
     parameters:
      - $ref: "#/components/parameters/path.asset_id"
     get:
      operationId: get-assets-asset_id-condition_assessments
      description: Retrieve a list of condition assessments to an Asset.
      tags:
        - Asset
        - Condition Assessment
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/condition_assessment.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: assessment_date
          schema:
            type: string
            format: date
        - in: query
          name: assessed_by
          schema:
            type: string
        - in: query
          name: assessment_method
          schema:
            type: string
        - in: query
          name: details
          schema:
            type: string
        - in: query
          name: overall_condition_assessment
          schema:
            type: number
            format: float
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
     post:
      operationId: post-assets-asset_id-condition_assessments
      description: Add condition assessments
      tags:
        - Asset
        - Condition Assessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/condition_assessment.yaml
      responses:
        "201":
          description: Record was created.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Path of the newly created record.
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/assets/{asset_id}/recycle":
    post:
      operationId: post-assets-asset_id-recycle
      description: Attempt to recycle an asset.
      tags:
        - Asset
      responses:
        "201":
          $ref: "#/components/responses/record-created"
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
  "/attributes":
    description: Retrieve a list of attributes.
    get:
      operationId: get-attributes
      description: Retrieve a list of attributes.
      tags:
        - Attribute
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/attribute_definition.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - $ref: "#/components/parameters/query.created"
        - in: query
          name: name
          description: Attribute name.
          schema:
            type: string
        - in: query
          name: negative_value
          schema:
            type: string
        - in: query
          name: positive_value
          schema:
            type: string
        - in: query
          name: show_in_ta
          description: Show attribute in Asset Manager.
          schema:
            type: boolean
        - in: query
          name: show_in_works
          description: Show attribute in Maintenance Manager.
          schema:
            type: boolean
        - in: query
          name: type
          description: Type of attribute.
          schema:
            $ref: ./models/common/attributes/type.yaml
        - in: query
          name: units
          description: Unit type for attribute.
          schema:
            type: string
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    post:
      operationId: post-attributes
      description: Create an attribute.
      tags:
        - Attribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/attribute_definition.yaml
      responses:
        "201":
          description: Record was created.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Path of the newly created record.
        "400":
          $ref: "#/components/responses/invalid-data"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
  "/attributes/{attribute_id}":
    get:
      operationId: get-attributes-attribute_id
      description: Retrieve a single attribute.
      tags:
        - Attribute
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/attribute_definition.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    patch:
      operationId: patch-attributes-attribute_id
      description: Update an attribute.
      tags:
        - Attribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/attribute_definition.yaml
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.attribute_id"
  "/attributes/{attribute_id}/options":
    get:
      operationId: get-attributes-attribute_id-options
      description: Retrieve a list of attribute options.
      tags:
        - Attribute
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/attribute_option.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: value
          schema:
            type: string
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
    parameters:
      - $ref: "#/components/parameters/path.attribute_id"
  "/attributes/{attribute_id}/options/{option_id}":
    get:
      operationId: get-attributes-attribute_id-options-option_id
      description: Retrieve a single attribute option.
      tags:
        - Attribute
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/attribute_option.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.attribute_id"
      - $ref: "#/components/parameters/path.option_id"
  "/authenticate":
    post:
      operationId: post-authenticate
      tags:
        - Authentication
      description: Authenticate with the API and retrieve an access token for future requests.
      responses:
        "200":
          description: Authentication successful.
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  access_token:
                    type: string
                    minLength: 41
                    maxLength: 41
                    pattern: ^1[0-9a-zA-Z]+$
                    example: 11685a6415d542ce0a09d2e89d7943840e2b2b111
                    description: Access token to be passed as a bearer token to authenticated requests.
                  expires_in:
                    type: integer
                    format: int32
                    description: "Time until the access token expires, in seconds."
                    example: 3600
                  refresh_token:
                    type: string
                    minLength: 36
                    maxLength: 36
                    pattern: ^[0-9a-zA-Z-]{36}$
                    example: 4d972a02-d0cd-4824-9166-603ae6db6660
                    description: Refresh token that can be used to acquire a new session tokens without authenticating again.
                required:
                  - access_token
                  - expires_in
                  - refresh_token
        "400":
          $ref: "#/components/responses/invalid-data"
        "401":
          description: Unauthorized. Combination of parameters does not exist.
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  minLength: 1
                client_db:
                  type: string
                  minLength: 1
                username:
                  type: string
                  minLength: 1
              required:
                - api_key
                - client_db
                - username
      security: []
  "/bulk/assets":
    description: Retrieve a list of assets with linked objects.
    get:
      operationId: get-bulk-assets
      description: Retrieve a list of assets with linked objects.
      tags:
        - Asset
        - Bulk
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: ./models/asset.yaml
                    - type: object
                      properties:
                        linked:
                          $ref: ./models/asset_linked.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: category_classification_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: class_classification_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: description
          schema:
            type: string
          description: Description of the asset.
        - in: query
          name: exclude_psab
          schema:
            type: boolean
        - in: query
          name: ignore_threshold
          schema:
            type: boolean
        - in: query
          name: import_id
          schema:
            type: string
        - in: query
          name: is_aro_identified
          schema:
            type: boolean
        - in: query
          name: is_aro_reviewed
          schema:
            type: boolean
        - in: query
          name: is_contaminated
          schema:
            type: boolean
        - in: query
          name: is_contributed
          schema:
            type: boolean
        - in: query
          name: is_disposed
          schema:
            type: boolean
        - in: query
          name: is_gov_transfer
          schema:
            type: boolean
        - in: query
          name: is_heritage
          schema:
            type: boolean
        - in: query
          name: is_import
          schema:
            type: boolean
        - in: query
          name: is_leased
          schema:
            type: boolean
        - in: query
          name: is_locked
          schema:
            type: boolean
        - in: query
          name: is_recycled
          schema:
            type: boolean
        - in: query
          name: is_water_service
          schema:
            type: boolean
        - in: query
          name: is_wastewater_service
          schema:
            type: boolean
        - in: query
          name: is_wip
          schema:
            type: boolean
        - in: query
          name: is_works
          schema:
            type: boolean
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: historical_cost
          schema:
            type: number
            format: double
            minimum: 0
        - in: query
          name: profile_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: segment_classification_id
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: service_date
          schema:
            type: string
            format: date
          description: Date asset went into service.
        - in: query
          name: valuation_cost
          schema:
            type: number
            format: double
            minimum: 0
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
        - in: query
          name: $linked
          description: Available linked items to be included in a bulk operation as comma-separated values.
          schema:
            type: string
            enum:
              - "Attributes"
              - "Equipment"
              - "Files"
              - "Notes"
              - "Worker Orders"
  "/bulk/assets/{asset_id}":
    get:
      operationId: get-bulk-assets-asset_id
      description: Retrieve a single asset with linked items.
      tags:
        - Asset
        - Bulk
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ./models/asset.yaml
                  - type: object
                    properties:
                      linked:
                        $ref: ./models/asset_linked.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.asset_id"
      - in: query
        name: $linked
        description: Available linked items to be included in a bulk operation as comma-separated values.
        schema:
          type: string
          enum:
            - "Attributes"
            - "Equipment"
            - "Files"
            - "Notes"
            - "Worker Orders"
  "/bulk/maintenance/work_orders":
    get:
      operationId: get-bulk-maintenance-work-orders
      description: Retrieve a list of work orders with linked objects.
      tags:
        - Bulk
        - Work Order
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: ./models/work_order.yaml
                    - type: object
                      properties:
                        linked:
                          $ref: ./models/work_order_linked.yaml
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/query.area_id"
      - in: query
        name: assigned_to
        schema:
          $ref: ./models/common/work_orders/assigned_to.yaml
      - in: query
        name: classification
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
      - $ref: "#/components/parameters/query.community_id"
      - in: query
        name: completed_by
        schema:
          $ref: ./models/common/properties/user_or_support.yaml
      - in: query
        name: completed_date
        schema:
          type: string
          format: date-time
      - $ref: "#/components/parameters/query.created"
      - $ref: "#/components/parameters/query.created_by"
      - $ref: "#/components/parameters/query.customer_id"
      - $ref: "#/components/parameters/query.department_id"
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: priority
        schema:
          $ref: ./models/common/properties/priorities.yaml
      - $ref: "#/components/parameters/query.property_id"
      - $ref: "#/components/parameters/query.route_id"
      - in: query
        name: scheduled_end_date
        schema:
          type: string
          format: date-time
      - in: query
        name: scheduled_start_date
        schema:
          type: string
          format: date-time
      - in: query
        name: status
        schema:
          type: integer
          format: int32
      - in: query
        name: target_date
        schema:
          type: string
          format: date-time
      - in: query
        name: work_order_type_id
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query.updated"
      - $ref: "#/components/parameters/query._limit"
      - $ref: "#/components/parameters/query._cursor"
      - $ref: "#/components/parameters/query._page"
      - $ref: "#/components/parameters/query._orderBy"
      - in: query
        name: $linked
        description: Available linked items to be included in a bulk operation as comma-separated values.
        schema:
          type: string
          enum:
            - "Attributes"
            - "Assets"
            - "Files"
            - "Notes"
            - "Workers"
            - "Checkins"
      - in: query
        name: $report
        description: Show names of ID fields
        schema:
          type: boolean
  "/bulk/maintenance/work_orders/{work_order_id}":
    get:
      operationId: get-bulk-maintenance-work-orders-work_order_id
      description: Retrieve a single work order with linked objects.
      tags:
        - Bulk
        - Work Order
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ./models/work_order.yaml
                  - type: object
                    properties:
                      linked:
                        $ref: ./models/work_order_linked.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - $ref: "#/components/parameters/path.work_order_id"
        - in: query
          name: $linked
          description: Available linked items to be included in a bulk operation as comma-separated values.
          schema:
            type: string
            enum:
              - "Attributes"
              - "Assets"
              - "Files"
              - "Notes"
              - "Workers"
              - "Checkins"
        - in: query
          name: $report
          description: Show names of ID fields
          schema:
            type: boolean
  "/bulk/permits/permits":
    description: Retrieve a list of permits with linked objects.
    get:
      operationId: get-bulk-permits-permits
      description: Retrieve a list of permits with linked objects.
      tags:
        - Permit
        - Bulk
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: ./models/permit.yaml
                    - type: object
                      properties:
                        linked:
                          $ref: ./models/permit_linked.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: address
          schema:
            type: string
            nullable: true
        - in: query
          name: application_completed_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: application_completed_date
          schema:
            type: string
            format: date
            nullable: true
        - in: query
          name: application_date
          schema:
            type: string
            format: date
            nullable: true
        - in: query
          name: application_incomplete_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: application_incomplete_date
          schema:
            type: string
            format: date-time
            nullable: true
        - in: query
          name: approved_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: approved_date
          schema:
            type: string
            format: date-time
            nullable: true
        - in: query
          name: area_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
            nullable: true
        - in: query
          name: cancelled_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: cancelled_date
          schema:
            type: string
            format: date-time
            nullable: true
        - in: query
          name: closed_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: closed_date
          schema:
            type: string
            format: date-time
            nullable: true
        - in: query
          name: community_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
            nullable: true
        - in: query
          name: conditions
          schema:
            type: string
            nullable: true
        - in: query
          name: construction_type_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
            nullable: true
        - in: query
          name: construction_without_permit
          schema:
            type: boolean
        - in: query
          name: created_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: current_use_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
            nullable: true
        - in: query
          name: declined_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: declined_date
          schema:
            type: string
            format: date-time
            nullable: true
        - in: query
          name: description
          schema:
            type: string
            nullable: true
        - in: query
          name: external_contacts_attached
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: id
          schema:
            $ref: ./models/common/properties/primary_key.yaml
        - in: query
          name: import_id
          schema:
            type: string
        - in: query
          name: include_grant_occupancy
          schema:
            type: boolean
            nullable: true
        - in: query
          name: inspections_by_unit
          schema:
            type: boolean
            nullable: true
        - in: query
          name: intended_use_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
            nullable: true
        - in: query
          name: is_external
          schema:
            type: boolean
        - in: query
          name: issued_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: issued_date
          schema:
            type: string
            format: date-time
            nullable: true
        - in: query
          name: label
          schema:
            type: string
        - in: query
          name: lat
          schema:
            type: number
            format: double
            nullable: true
        - in: query
          name: lon
          schema:
            type: number
            format: double
            nullable: true
        - in: query
          name: module_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
        - in: query
          name: mpac_reference_id
          schema:
            type: string
            nullable: true
        - in: query
          name: occupancy_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: occupancy_date
          schema:
            type: string
            format: date
            nullable: true
        - in: query
          name: permit_number
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: permit_type_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
        - in: query
          name: plans_status
          schema:
            $ref: ./models/common/permits/plan_statuses.yaml
        - in: query
          name: property_id
          schema:
            type: integer
            minimum: 1
            maximum: 2147483647
            nullable: true
        - in: query
          name: require_inspection_results
          schema:
            type: boolean
            nullable: true
        - in: query
          name: require_paid_fees
          schema:
            type: boolean
            nullable: true
        - in: query
          name: require_paid_dc
          schema:
            type: boolean
            nullable: true
        - in: query
          name: require_paid_refundable
          schema:
            type: boolean
            nullable: true
        - in: query
          name: review_deficiency_by
          schema:
            allOf:
              - readOnly: true
                nullable: true
              - $ref: ./models/common/properties/user_or_support.yaml
        - in: query
          name: review_deficiency_date
          schema:
            type: string
            format: date-time
            nullable: true
        - in: query
          name: second_dwelling_unit
          schema:
            type: boolean
        - in: query
          name: show_inspections
          schema:
            type: boolean
            nullable: true
        - in: query
          name: status
          schema:
            $ref: ./models/common/permits/statuses.yaml
        - in: query
          name: update_mpac
          schema:
            type: boolean
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
        - in: query
          name: $linked
          description: Available linked items to be included in a bulk operation as comma-separated values.
          schema:
            type: string
            enum:
              - "Contacts"
              - "Development Charges"
              - "External Comments"
              - "Fees"
              - "Files"
              - "Internal Comments"
              - "Payments"
              - "Refundable Fees"
              - "Refunds"
              - "Reviews"
              - "Work Fields"
              - "Work Orders"
              - "Variances"
  "/bulk/permits/permits/{permit_id}":
    get:
      operationId: get-bulk-permits-permits-permit_id
      description: Retrieve a single permit with linked items.
      tags:
        - Permit
        - Bulk
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ./models/permit.yaml
                  - type: object
                    properties:
                      linked:
                        $ref: ./models/permit_linked.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.permit_id"
      - in: query
        name: $linked
        description: Available linked items to be included in a bulk operation as comma-separated values.
        schema:
          type: string
          enum:
            - "Contacts"
            - "Development Charges"
            - "External Comments"
            - "Fees"
            - "Files"
            - "Internal Comments"
            - "Payments"
            - "Refundable Fees"
            - "Refunds"
            - "Reviews"
            - "Work Fields"
            - "Work Orders"
            - "Variances"
  "/classifications/departments":
    get:
      operationId: get-classifications-departments
      description: Retrieve a list of departments.
      tags:
        - Department
        - Classification
      responses:
        "200":
          $ref: "#/components/responses/departments"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/classifications/departments/{department_id}":
    get:
      operationId: get-classifications-departments-department_id
      description: Retrieve a single department.
      tags:
        - Department
        - Classification
      responses:
        "200":
          $ref: "#/components/responses/department"
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.department_id"
  "/maintenance/resources/areas":
    get:
      operationId: get-maintenance-resources-areas
      description: Retrieve a list of areas.
      tags:
        - Area
        - Resource
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/area.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - $ref: "#/components/parameters/query.created"
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/maintenance/resources/areas/{area_id}":
    get:
      operationId: get-maintenance-resources-areas-area_id
      description: Retrieve a single area.
      tags:
        - Area
        - Resource
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/area.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
      - $ref: "#/components/parameters/path.area_id"
  "/maintenance/resources/classifications":
    get:
      operationId: get-maintenance-resources-classifications
      description: Retrieve a list of classifications.
      tags:
        - Classification
        - Resource
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/classification.yaml
          headers:
            Link:
              $ref: "#/components/headers/Link"
            X-Cursor:
              $ref: "#/components/headers/X-Cursor"
            X-Total:
              $ref: "#/components/headers/X-Total"
        "400":
          $ref: "#/components/responses/invalid-data"
        "429":
          $ref: "#/components/responses/too-many-requests"
      parameters:
        - in: query
          name: added_by
          schema:
            type: string
        - $ref: "#/components/parameters/query.created"
        - in: query
          name: description
          schema:
            type: string
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: type
          schema:
            $ref: ./models/common/properties/classification_types.yaml
        - $ref: "#/components/parameters/query.updated"
        - $ref: "#/components/parameters/query._limit"
        - $ref: "#/components/parameters/query._cursor"
        - $ref: "#/components/parameters/query._page"
        - $ref: "#/components/parameters/query._orderBy"
  "/maintenance/resources/classifications/{classification_id}":
    get:
      operationId: get-maintenance-resources-classifications-classification_id
      description: Retrieve a single classification.
      tags:
        - Classification
        - Resource
      responses:
        "200":
          description: OK
          headers:
            Last-Modified:
              $ref: "#/components/headers/Last-Modified"
          content:
            application/json:
              schema:
                $ref: ./models/classification.yaml
        "404":
          description: Not Found
        "429":
          $ref: "#/components/responses/too-many-requests"
    parameters:
[...]
